@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Ubuntu Mono', monospace;
    color: #213e3b;
}

body {
    width: 100%;
    background-color: #e8ffff;
}

header{
    background-color: #41aea9;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

header>div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#logo{
    width: 12vw;
    height: auto;
}

#e-name{
    font-size: 5vw;
}

section{
    background-color: #a6f6f1;
}

#inscription{
    width: 50%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.8rem;
}

#titreForm{
    text-align: center;
    padding-bottom: 2rem;
}

form{
    margin: auto;
    text-align: right;
}

.ref>div {
    width: 50%;
}